.featured-cast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 250px;
    height: 405px;

    img {
        width: 250px;
        height: 370px;
    }

    >h4 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #111827;
    }
}