.exclusive-video {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 450px;
    height: 288.12px;

    .video-image {
        position: relative;

        .play {
            position: absolute;
            width: 60px;
            height: 60px;
            left: 195px;
            top: 97px;
        }
    }

    h3 {
        margin-top: -.3rem;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;

        color: #111827;
    }

}