.home-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;

    .bg-image {
        background-image: url('../../assets/bg-image.svg');
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;

        .nav-bar {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;


            .with-tv {
                width: 143px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                >span {
                    width: 69px;
                    height: 24px;

                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }

            .with-search {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 6px 10px;
                gap: 10px;
                width: 525px;
                height: 36px;
                left: 493px;
                top: 22px;
                border: 2px solid #D1D5DB;
                border-radius: 6px;

                >input {
                    width: 411px;
                    height: 24px;
                    background: transparent;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    border: none;
                    color: #FFFFFF;
                }

                input:focus {
                    outline: none;
                }

                ::placeholder {

                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }

            .with-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0px;
                gap: 27px;
                cursor: pointer;
                width: 166px;
                height: 36px;
                left: 1216px;
                top: 22px;

                .logout {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 6px 16px;
                    gap: 8px;
                    background: #BE123C;
                    border-radius: 6px;
                    width: 100px;
                    height: 30px;
                    margin-left: 30px;
                    margin-top: 60px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                    animation: ease-in 2ms;
                }

                >h5 {
                    width: 103px;
                    height: 24px;

                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }


        .description-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;

            position: absolute;
            width: 404px;
            left: 98px;
            top: 158px;

            >h3 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: #FFFFFF;
            }

            .rating {
                margin-top: -3rem;
                width: 184px;
                height: 17px;
                display: flex;
                gap: 20px;

                span {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 12px;
                    color: #FFFFFF;
                }

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }

            .description {
                margin-top: -1rem;
                width: 302px;
                height: 72px;

                >h4 {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                }

            }

            .watch-trailer {
                margin-top: 1.2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 6px 16px;
                gap: 20px;
                cursor: pointer;
                width: 169px;
                height: 36px;
                background: #BE123C;
                border-radius: 6px;

                >span {
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }

        }
    }

        .movie-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px;
                gap: 83px;
    
                width: 1244px;
                height: 47px;
                margin-left: 98px;
                margin-top: 70px;
    
                >h1 {
                    height: 47px;
                    left: 98px;
                    font-family: 'DM Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 47px;
  
                    color: #000000;
                }
    
                .see-more {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 8px;
    
                    width: 107px;
                    height: 24px;
    
                    >span {
                        width: 79px;
                        height: 24px;
    
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 24px;
                        color: #BE123C;
                    }
    
                }
            }
    
            .exclusive-videos {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 48px;
                width: 1240px;
                height: 450px;
                margin-left: 98px;
                margin-top: 44px;
                margin-bottom: 1rem;
                overflow-y: hidden;
    
            }
    
            .featured-casts {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 80px;
                width: 1240px;
                height: 455px;
                margin-left: 98px;
                margin-top: 44px;
                overflow-y: hidden;
                overflow-x: scroll;
            }
    
    
        }
  
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 36px;
        width: 492px;
        height: 145.43px;
        margin: 100px 0 73px 474px;

        .socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 48px;
            width: 240px;
            height: 27.43px;
        }

        .policies {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 48px;
            width: 492px;
            height: 23px;

            >a {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: #111827;
                text-decoration: none;
            }
        }

        .copyright {
            height: 23px;
            color: #6B7280;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

            >span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 200;
                font-size: 12px;
                line-height: 23px;
                width: 15px;
                height: 15px;
                border: 2px solid #6B7280;
                border-radius: 50%;

            }

            >h4 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}