.movie-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    width: 1240px;
    height: 513px;
    margin-left: 98px;
    margin-top: 44px;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.movie-list::-webkit-scrollbar {
    display: none;
}